<% if(locals.user) { %> 
<div id="home-container">
  <section id="feed-posts">
    <h1 class="feed title">FEED</h1>

    <div class="post-form">
      <% if(locals.user) { %>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea
          name="content"
          placeholder="Type here ...."
          cols="50"
          rows="3"
          required
        ></textarea>
        <br />
        <input type="submit" value="POST" />
      </form>
      <% } %>
    </div>

    <div id="post-list-container">
      <ul>
        <% for(post of posts) { %>
    
          <%- include('_post') -%>   
           <br>

        <% } %>
      </ul>
    </div>
  </section>

  <section id="user-friends">

    <%- include('_friend') -%>

    <div class="discover"> 
      <div class="dis-help">
        <div class="header"> Discover </div> 
        <br>
            <% for (u of all_users) { %>
              <div class="yes-friend">
                <a class="friends-item" href="/users/profile/<%= u.id %>">
                  <div class="friends-img">
                    <% if(u.avatar == undefined){ %>
                    <img
                      class="rounded-circle"
                      id="user-dp"
                      src="https://images.assetsdelivery.com/compings_v2/tanyastock/tanyastock1608/tanyastock160801788.jpg"
                      alt="logo"
                    />
                    <% }else{ %>
                  <% if(locals.user._id == u.id){ %>
                    <img
                      class="rounded-circle meraPhoto"
                      id="user-dp"
                      src="<%= u.avatar %>"
                      alt="logo2"
                    />
                  <% } else { %>
                    <img
                      class="rounded-circle"
                      id="user-dp"
                      src="<%= u.avatar %>"
                      alt="logo2"
                    />
                    <% } %>

                    <% } %>
                  </div>
                  <div class="friends-name"><%= u.name %>
                  <% if(locals.user._id == u.id){ %>
                  (Me)
                  <% } %>
                  </div>
                </a>
              </div>
            <!-- <div class="disUser">
              <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
            </div> -->
            <% } %>
      </div> 
    </div>

  </section> 

  <%- include('_chat_box') -%>
</div>
<%} else { %>
  <div id="HomePage"> 
    <section class="homeDefault">
      <h1 class="introHead"> DISCOVER . </h1>
      <h1 class="introHead"> CONNECT . </h1>
      <h1 class="introHead"> LIKE . </h1>    
    </section>

    <section class="joinUs">
      <div class="inviteCard">
        Welcome to the Lambda Project!
        <div id="subMsg">
          Building Bridges with Every Like
        </div>
      <a class="lessgoo" href="/users/sign-up" >
        <div id="getStarted">
          Join Now </div>
      </a>
        
      </div>
</section>
  </div>
    
  <% } %>

<script src="<%= assetPath('javascript/home_post_comments.js') %>"></script>
<script src="<%= assetPath('javascript/home_posts.js') %>"></script>

<script src="<%= assetPath('javascript/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('javascript/chat_engine.js') %>"> </script>

<% if(locals.user) { %>
<script>
  const showChatButton = document.getElementById('showChatButton');
  const chatContainer = document.getElementById('user-chat-box');

showChatButton.addEventListener('click', () => {
  chatContainer.classList.toggle('show');
});
  const aatar = $('.meraPhoto').attr('src');
      new chatEngine('user-chat-box' , '<%= locals.user.email %>' , aatar );
</script>
<% } %>
